.pageee {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.pageee-hidden { 
	z-index: 0;
}
.pageee-top {
	top: -100%;
}
.pageee-bottom { 
	top: 100%; 
}
.pageee-over { 
	z-index: 200;
}
.pageee-shown {
	z-index: 100;
}
